SOURCE_PATH_CONTENT="${CLOUDSTATION_ROOT}/example/input/pdfs"

LLAMACPP_BASE_URL=http://127.0.0.1:8080/v1
LLAMACPP_MODEL=Qwen3.6-27B-Q4_K_M
LLAMACPP_AUTOSTART=true

LLAMACPP_SERVER_PATH=
LLAMACPP_MODEL_PATH=
LLAMACPP_MMPROJ_PATH=
LLAMACPP_EXTRA_DLL_DIRS=./vendor/cuda12
LLAMACPP_N_GPU_LAYERS=999
LLAMACPP_CTX_SIZE=8192
LLAMACPP_STARTUP_TIMEOUT=900

LLAMACPP_REASONING=off
LLAMACPP_REASONING_BUDGET=0
